[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/webrogue-runtime/glfw.git
[submodule "libs/raylib"]
	path = libs/raylib
	url = https://github.com/webrogue-runtime/raylib.git
[submodule "libs/SDL2"]
	path = libs/SDL2
	url = https://github.com/Destructor17/SDL.git
[submodule "stk"]
	path = stk
	url = https://github.com/webrogue-runtime/stk-code.git
[submodule "libs/libpng"]
	path = libs/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/webrogue-runtime/zlib.git
[submodule "libs/libsamplerate"]
	path = libs/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "libs/vorbis"]
	path = libs/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "libs/ogg"]
	path = libs/ogg
	url = https://github.com/xiph/ogg.git
[submodule "libs/freetype"]
	path = libs/freetype
	url = https://github.com/freetype/freetype.git
[submodule "libs/harfbuzz"]
	path = libs/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl.git
