[submodule "stk"]
	path = stk/stk-code
	url = https://github.com/webrogue-runtime/stk-code.git
[submodule "raylib/raylib"]
	path = raylib/raylib
	url = https://github.com/webrogue-runtime/raylib.git
	branch = webrogue
